.container.wrapper
    .s12
        h5 Storage
    .s1
        mat-form-field
            mat-label Current Box
            input(
                matInput=''
                placeholder='Current Box'
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.storage.curBox'
                required=''
                max='11'
                min='0'
            )
    .s3
        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.storage.changedBoxesBefore'
        )
            | Other boxes are formatted

    .row.s12
        mat-tab-group
            mat-tab(label="Items")
                .container.wrapper
                    .s12
                        mat-list(style="padding-top: 35px")
                            entry-item(
                                *ngFor='let item of boxItems; let i = index; trackBy: trackItems'
                                '[data]'='boxItems[i]'
                                '[disabled]'='false'
                                '(remove)'='remBoxItem(i)'
                            )

                            entry-item(
                                *ngIf='boxItems.length == 0'
                                '[disabled]'='true'
                            )

                            mat-list-item
                                .container
                                    .s8
                                        button(
                                            mat-raised-button=''
                                            '(click)'='addBoxItem()'
                                            '[disabled]'='boxItems.length >= 50'
                                            color="primary"
                                            style="width: 100%;"
                                        )
                                            span.im.im-plus3

            mat-tab(
                *ngFor='let key of [1,2,3,4,5,6,7,8,9,10,11,12]; trackBy: trackBoxTabs',
                label="Box {{key}}"
                '[disabled]'='getBoxDisabled(key-1)'
            )
                .container
                    .l7.s12
                        .container.ns-t
                            .s12
                                card-pokemon(
                                    *ngIf='fullView != null'
                                    '[entry]'='fullView'
                                )
                    .l5.s12
                        card-pokemon-header(
                            *ngFor='let pokemon of getBoxPokemon(key-1); let i = index; trackBy: trackBoxPokemon'
                            '[entry]'='getBoxPokemon(key-1)[i]'
                        )
                        card-pokemon-header(
                            *ngIf='getBoxPokemon(key-1).length <= 19'
                            '[disabled]'='true'
                        )
