.container.wrapper
    .s12
        h5 Storage
    .s1
        mat-form-field
            mat-label Current Box
            input(
                matInput=''
                placeholder='Current Box'
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.storage.curBox'
                required=''
                max='12'
                min='0'
            )
    .s3
        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.storage.changedBoxesBefore'
        )
            | Don't Format Boxes

    .row.s12
        mat-tab-group
            mat-tab(label="Items")
                .container.wrapper
                    .s12
                        mat-list(style="padding-top: 35px")
                            entry-item(
                                *ngFor='let item of boxItems; let i = index; trackBy: trackItems'
                                '[data]'='boxItems[i]'
                                '[disabled]'='false'
                                '(remove)'='remBoxItem(i)'
                            )

                            entry-item(
                                *ngIf='boxItems.length == 0'
                                '[disabled]'='true'
                            )

                            mat-list-item
                                .container
                                    .s8
                                        button(
                                            mat-raised-button=''
                                            '(click)'='addBoxItem()'
                                            '[disabled]'='entriesCount >= 50'
                                            color="primary"
                                            style="width: 100%;"
                                        )
                                            span.im.im-plus3

            mat-tab(
                *ngFor='let key of [1,2,3,4,5,6,7,8,9,10,11,12]; trackBy: trackBoxTabs',
                label="Box {{key}}"
            )
                .container
                    .l7.s12
                        .container.ns-t
                            .s12
                                card-pokemon(
                                    *ngIf='fullView != null'
                                    '[entry]'='fullView'
                                )
                    .l5.s12
                        card-pokemon-header(
                            *ngFor='let pokemon of getBoxPokemon(key); let i = index; trackBy: trackBoxPokemon'
                            '[entry]'='getBoxPokemon(key)[i]'
                            '[remBtn]'='true'
                            '[fullViewBtn]'='true'
                            '[fullViewActive]'='fullView == getBoxPokemon(key)[i]'
                            '(onRem)'='remPokemon(key, i)'
                            '(onFullView)'='onFullView(getBoxPokemon(key)[i])'
                        )
                        card-pokemon-header(
                            *ngIf='getBoxPokemon(key).length <= 19'
                            '[disabled]'='true'
                            '[addBtn]'='true'
                            '(onAdd)'='addPokemon(key)'
                        )

//- .row.sticky(*ngIf="activeTab > 0")
    //- card-pokemon(
    //-     *ngFor='let pokemon of boxPokemon; let i = index'
    //-     '[entry]'='boxPokemon[i]'
    //-     '[remBtn]'='true'
    //-     '(onRem)'='remPokemon(i)'
    //- )
    //- card-pokemon(
    //-     *ngIf='boxPokemon.length <= 19'
    //-     '[disabled]'='true'
    //-     '[addBtn]'='true'
    //-     '(onAdd)'='addPokemon()'
    //- )
