.container.wrapper
    .s12.l3.m6.s12
        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.pauseWildEncounters3Steps'
        )
            span Pause Encounters for 3 Steps

    .s12
        h5 Grass Pokemon
    .xl3.l4.m8.s12
        mat-checkbox(
            '(change)'='grassRateClick()'
            '[checked]'='fileService.fileDataExpanded.area.grassRate != 0'
        )
            span Grass Pokemon
    .xl6.l7.s12
        mat-form-field(style="width: 100%;")
            mat-label Chance of Encounter
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.grassRate'
                required=''
                max='100'
                min='0'
            )
    .s12
        mat-list(style="padding-top: 35px; width: 100%;")
            wild-pokemon-item(
                *ngFor='let entry of grassEntries; let i = index; trackBy: entriesTracking'
                '[data]'='grassEntries[i]'
                '[disabled]'='fileService.fileDataExpanded.area.grassRate == 0'
                '[index]'='i'
                '(remove)'='remGrassEntry(i)'
            )

    .s12
        h5 Water Pokemon
    .xl3.l4.m8.s12
        mat-checkbox(
            '(click)'='waterRateClick()'
            '[checked]'='fileService.fileDataExpanded.area.waterPokemonRate != 0'
        )
            span Water Pokemon
    .xl6.l7.s12
        mat-form-field(style="width: 100%;")
            mat-label Chance of Encounter
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.waterPokemonRate'
                required=''
                max='100'
                min='0'
                '[disabled]'='disabled'
            )
    .s12
        mat-list(style="padding-top: 35px; width: 100%;")
            wild-pokemon-item(
                *ngFor='let entry of waterEntries; let i = index; trackBy: entriesTracking'
                '[data]'='waterEntries[i]'
                '[disabled]'='fileService.fileDataExpanded.area.waterPokemonRate == 0'
                '[index]'='i'
                '(remove)'='remWaterEntry(i)'
            )
