mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title
                span.im.im-checkmark3(*ngIf='fileService.fileDataExpanded.area.pokemon.grassRate > 0')
                span &nbsp; Grass Pokemon
            mat-panel-description Grass Pokemon in Current Map

        mat-checkbox(
            '(change)'='grassRateClick()'
            '[checked]'='fileService.fileDataExpanded.area.pokemon.grassRate != 0'
        )
            span Grass Pokemon

        mat-form-field
            mat-label Chance of Encounter
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.pokemon.grassRate'
                max='100'
                min='0'
            )

        br

        mat-list
            mat-list-item('*ngFor'='let entry of grassEntries; let i = index; trackBy: entriesTracking')
                wild-pokemon-item(
                    '[data]'='grassEntries[i]'
                    '[disabled]'='fileService.fileDataExpanded.area.pokemon.grassRate == 0'
                    '[index]'='i'
                    '(remove)'='remGrassEntry(i)'
                )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title
                span.im.im-checkmark3(*ngIf='fileService.fileDataExpanded.area.pokemon.waterPokemonRate > 0')
                span &nbsp; Water Pokemon
            mat-panel-description Water Pokemon in Current Map

        mat-checkbox(
            '(change)'='waterRateClick()'
            '[checked]'='fileService.fileDataExpanded.area.pokemon.waterPokemonRate != 0'
        )
            span Water Pokemon

        mat-form-field
            mat-label Chance of Encounter
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.pokemon.waterPokemonRate'
                max='100'
                min='0'
            )

        br

        mat-list
            mat-list-item(*ngFor='let entry of waterEntries; let i = index; trackBy: entriesTracking')
                wild-pokemon-item(
                    '[data]'='waterEntries[i]'
                    '[disabled]'='fileService.fileDataExpanded.area.pokemon.waterPokemonRate == 0'
                    '[index]'='i'
                    '(remove)'='remWaterEntry(i)'
                )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Other
            mat-panel-description Misc &amp; Uncategorized

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.pokemon.pauseWildEncounters3Steps'
        )
            span Pause Encounters for 3 Steps
