.row
    mat-form-field.small
        mat-label X
        input(
            matInput=''
            type='number'
            '[(ngModel)]'='data.x'
            '[disabled]'='disabled'
        )

    mat-form-field.small
        mat-label Y
        input(
            matInput=''
            type='number'
            '[(ngModel)]'='data.y'
            '[disabled]'='disabled'
        )
    select-map(
        '[(ngModel)]'='data.destMap'
        label='To Map'
        '[disabled]'='disabled'
    )
    mat-form-field.small
        mat-label To Warp
        input(
            matInput=''
            type='number'
            '[(ngModel)]'='data.destWarp'
            '[disabled]'='disabled'
        )
    button(
        mat-raised-button=''
        '(click)'='remListItem()'
        '[disabled]'='disabled'
        color="warn"
    )
        span.im.im-delete
