mat-card
    mat-card-title Hall of Fame
    mat-card-subtitle Hall of Fame Records for Elite Four Completion
    mat-card-content
        mat-form-field
            mat-label Record
            mat-select(
                '[(ngModel)]'='activeRecord'
            )
                mat-option([value]='-1', disabled='') Select Record
                mat-option(
                    *ngFor='let entry of records; let i = index; trackBy: trackByFn'
                    '[value]'='i'
                )
                    | {{i+1}}

        button(
            'mat-icon-button'=''
            '(click)'='onRecordAdd()'
            '[disabled]'='records.length >= 50'
        )
            span.im.im-add

        button(
            'mat-icon-button'=''
            '(click)'='onRecordRem()'
            '[disabled]'='activeRecord < 0'
        )
            span.im.im-remove

mat-list
    mat-list-item(
        *ngFor='let entry of pokemon; let i = index; trackBy: trackByFn'
    )
        name-input(
            'label'='Nickname'
            '[(ngModel)]'='entry.name'
            '[disabled]'='disabled'
            'template'='<<t>>'
            'maxlength'='10'
        )

        select-species(
            label='Species'
            '[(ngModel)]'='entry.species'
        )

        mat-form-field.small
            mat-label Level
            input(
                type='number'
                matInput=''
                '[(ngModel)]'='entry.level'
            )

        button(
            'mat-raised-button'=''
            '(click)'='onPokemonRem(i)'
            '[disabled]'='activeRecord < 0'
            color="warn"
        )
            span.im.im-trashcan

    mat-list-item(
        *ngIf='activeRecord > -1 && pokemon.length < 6'
    )
        button.expand(
            'mat-raised-button'=''
            '(click)'='onPokemonAdd()'
            '[disabled]'='pokemon.length >= 6 || activeRecord < 0'
            color="primary"
        )
            span.im.im-add
