select-map-width(
    '[(ngModel)]'='data.map'
    label='Map'
    '[disabled]'='disabled'
)

mat-form-field
    mat-label UL Corner
    input(
        matInput=''
        type='text'
        '[(ngModel)]'='data.viewPtr'
        '[disabled]'='disabled'
    )

mat-form-field
    mat-label Strip Src
    input(
        matInput=''
        type='number'
        '[(ngModel)]'='data.stripSrc'
        '[disabled]'='disabled'
    )

mat-form-field
    mat-label Strip Dest
    input(
        matInput=''
        type='number'
        '[(ngModel)]'='data.stripDest'
        '[disabled]'='disabled'
    )

mat-form-field
    mat-label Strip Width
    input(
        matInput=''
        type='number'
        '[(ngModel)]'='data.stripWidth'
        '[disabled]'='disabled'
    )

mat-form-field
    mat-label X-Align
    input(
        matInput=''
        type='number'
        '[(ngModel)]'='data.xAlign'
        '[disabled]'='disabled'
    )

mat-form-field
    mat-label Y-Align
    input(
        matInput=''
        type='number'
        '[(ngModel)]'='data.yAlign'
        '[disabled]'='disabled'
    )
