.row
    select-species.grow(
        '[(ngModel)]'='data.pokemon'
        '[disabled]'='disabled'
    )

    mat-form-field.small
        mat-label Level
        input(
            matInput=''
            placeholder='Level'
            type='number'
            '[(ngModel)]'='data.level'
            max='100'
            min='1'
            '[disabled]'='disabled'
        )

    mat-form-field.large
        mat-label Encounter Chance
        input(
            matInput=''
            type='text'
            '[value]'='encounterChance'
            '[disabled]'='true'
        )
