mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title Playtime
            mat-panel-description Recorded Playtime

        mat-checkbox(
            '#playtimeEnabled'=''
            '(change)'='togglePlaytime()'
            '[checked]'='fileService.fileDataExpanded.world.other.playtime.maxed == 0'
        )
            span Playtime Enabled

        br

        mat-form-field.digits3
            mat-label Hours
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.world.other.playtime.hours'
            )

        mat-form-field.digits3
            mat-label Minutes
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.world.other.playtime.minutes'
            )

        mat-form-field.digits3
            mat-label Seconds
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.world.other.playtime.seconds'
            )

        mat-form-field.digits3
            mat-label Frames
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.world.other.playtime.frames'
            )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Fossil
            mat-panel-description Fossil Pokemon

        mat-label.fossil-align Item Given &nbsp;
        select-item(
            '[(ngModel)]'='fileService.fileDataExpanded.world.other.fossilItemGiven'
            '[noneSelectable]'='true'
            label=''
        )

        br

        mat-label.fossil-align Resulting Pokemon &nbsp;
        select-species(
            '[(ngModel)]'='fileService.fileDataExpanded.world.other.fossilPkmnResult'
        )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Debug
            mat-panel-description Debug Mode

        p While holding down B, all wild Pokemon battles will not happen until B is released.

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.world.other.debugMode'
        )
            span Debug Mode
