mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title Playtime
            mat-panel-description Recorded Playtime

        mat-form-field
            mat-label Maxed
            mat-select(
                '[(ngModel)]'='fileService.fileDataExpanded.world.other.playtime.maxed'
            )
                mat-option(value="0") No
                mat-option(value="255") Yes

        mat-form-field
            mat-label Hours
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.world.other.playtime.hours'
            )

        mat-form-field
            mat-label Minutes
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.world.other.playtime.minutes'
            )

        mat-form-field
            mat-label Seconds
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.world.other.playtime.seconds'
            )

        mat-form-field
            mat-label Frames
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.world.other.playtime.frames'
            )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Fossil
            mat-panel-description Fossil Pokemon

        mat-label Item Given &nbsp;
        select-item(
            '[(ngModel)]'='fileService.fileDataExpanded.world.other.fossilItemGiven'
            '[noneSelectable]'='true'
            label=''
        )

        mat-label Resulting Pokemon &nbsp;
        select-species(
            '[(ngModel)]'='fileService.fileDataExpanded.world.other.fossilPkmnResult'
        )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Debug
            mat-panel-description Debug Option

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.world.other.debugMode'
        )
            span Debug Mode
