.row
    .col.s12

        ul.collection.items.slim-list.sticky

            li.collection-item.item.flex-container.flex-horz(*ngFor='let entry of entries')
                select.browser-default.flex-item(
                    '[(ngModel)]'='fileService.fileDataExpanded.player.bagItems[entry.index].id')
                    option([value]='0', disabled='') Choose Item
                    option(
                        *ngFor='let itemOption of itemList',
                        '[value]'='itemOption.ind',
                        '[disabled]'='itemOption.disable'
                    ) {{itemOption.name}}

                input#amount.flex-item(
                    placeholder='Amount',
                    type='number',
                    '[(ngModel)]'='fileService.fileDataExpanded.player.bagItems[entry.index].amount',
                    max='99',
                    min='0'
                )

                a.btn-small.waves-effect.flex-item('(click)'='remListItem(entry.index)')
                    span.im.im-delete

            li.collection-item.flex-container.flex-horz(*ngIf='entries.length == 0')
                select.browser-default.flex-item(disabled='')
                    option([value]='0', disabled='') Choose Item

                input#amount.flex-item(
                    disabled='',
                    placeholder='Amount',
                    type='number',
                    max='99',
                    min='0'
                )

                a.btn-small.disabled.waves-effect.flex-item
                    span.im.im-delete

            a.btn-floating.btn.waves-effect.btn-floating-icon-normal.stick.br(
                '(click)'='addListItem()'
                '[class.disabled]' = 'itemCount >= 20'
            )
                span.im.im-plus3
