.container.wrapper
    .s12
        h5 Vermillion Gym

    .xl2.l3.m6.s12
        mat-form-field(style="width: 100%")
            mat-label Trashcan 1 Switch
            input(
                matInput
                type='number'
                required=''
                '[(ngModel)]'='fileService.fileDataExpanded.area.puzzle.firstTrashcanLock'
            )

    .xl2.l3.m6.s12
        mat-form-field(style="width: 100%")
            mat-label Trashcan 2 Switch
            input(
                matInput
                type='number'
                required=''
                '[(ngModel)]'='fileService.fileDataExpanded.area.puzzle.secondTrashcanLock'
            )

    .s12
        h5 Cinnabar Gym

    .xl2.l3.m6.s12
        .xl2.l3.m6.s12
        mat-form-field(style="width: 100%")
            mat-label Next Wrong Answer Opponent
            input(
                matInput
                type='number'
                required=''
                '[(ngModel)]'='fileService.fileDataExpanded.area.puzzle.oppAfterWrongAnsw'
            )

//-     .s12
//-         h5 Safari Zone

//-     .xl2.l3.m6.s12
//-         mat-checkbox(
//-             style="width: 100%"
//-             '[(ngModel)]'='fileService.fileDataExpanded.area.player.safariGameOver'
//-         )
//-             span Game Over

//-     .xl2.l3.m6.s12
//-         mat-form-field(style="width: 100%")
//-             mat-label Safari Balls
//-             input(
//-                 matInput
//-                 type='number'
//-                 required=''
//-                 placeholder='Safari Balls'
//-                 '[(ngModel)]'='fileService.fileDataExpanded.area.player.safariBallCount'
//-             )

//-     .xl2.l3.m6.s12
//-         mat-form-field(style="width: 100%")
//-             mat-label Steps Left
//-             input(
//-                 matInput
//-                 type='number'
//-                 required=''
//-                 placeholder='Safari Steps'
//-                 '[(ngModel)]'='fileService.fileDataExpanded.area.player.safariSteps'
//-             )
