mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title Vermillion Gym
            mat-panel-description Vermillion Gym Switches

        mat-form-field
            mat-label Trashcan 1 Switch
            input(
                matInput
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.puzzle.firstTrashcanLock'
            )

        mat-form-field
            mat-label Trashcan 2 Switch
            input(
                matInput
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.puzzle.secondTrashcanLock'
            )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Cinnabar Gym
            mat-panel-description Cinnabar Gym Trainer Battle

        mat-form-field
            mat-label Next Wrong Answer Opponent
            input(
                matInput
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.puzzle.oppAfterWrongAnsw'
            )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Safari Zone
            mat-panel-description Safari Zone Area Details

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.safariGameOver'
        )
            span Game Over

        mat-form-field
            mat-label Safari Balls
            input(
                matInput
                type='number'
                placeholder='Safari Balls'
                '[(ngModel)]'='fileService.fileDataExpanded.area.player.safariBallCount'
            )

        mat-form-field
            mat-label Steps Left
            input(
                matInput
                type='number'
                placeholder='Safari Steps'
                '[(ngModel)]'='fileService.fileDataExpanded.area.player.safariSteps'
            )
