mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title Pre-Warp
            mat-panel-description Pre-Warp State

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.warps.scriptedWarp'
        )
            span Scripted Warp

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.warps.isDungeonWarp'
        )
            span Is Dungeon Warp


        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.warps.skipJoypadCheckWarps'
        )
            span Skip Joypad

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Warping
            mat-panel-description Warping State

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.warps.flyOrDungeonWarp'
        )
            span Non-Normal Warp

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.warps.flyWarp'
        )
            span Special Warp

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.warps.dungeonWarp'
        )
            span Dungeon Warp

        br

        mat-form-field
            mat-label To Warp
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.warps.warpDest'
            )

        select-map(
            '[(ngModel)]'='fileService.fileDataExpanded.area.warps.dungeonWarpDestMap'
            label='Dungeon Warp Where'
        )

        select-map(
            '[(ngModel)]'='fileService.fileDataExpanded.area.warps.specialWarpDestMap'
            label='Special Warp Where'
        )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Warped
            mat-panel-description Warped State

        mat-form-field
            mat-label From Warp
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.warps.warpedFromWarp'
            )

        mat-form-field
            mat-label From Dungeon Warp
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.warps.whichDungeonWarp'
            )

        select-map(
            '[(ngModel)]'='fileService.fileDataExpanded.area.warps.warpedfromMap'
            label='From Map'
        )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Warp Points
            mat-panel-description Warp tiles in current map

        .rows(*ngFor='let warp of warpPoints; let i = index; trackBy: trackByFn')
            warp-item(
                '[data]'='warpPoints[i]'
                '[disabled]'='false'
                '(remove)'='remListItem(i)'
            )

        button.stretch.max-warp(
            '*ngIf'='warpPoints.length < 32'
            mat-raised-button=''
            '(click)'='addListItem()'
            color="primary"
        )
            span.im.im-plus3
