.container.wrapper
    .s12
        h5 Pre-Warp

    .xl2.l3.m6.s12
        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.scriptedWarp'
        )
            span Scripted Warp

    .xl2.l3.m6.s12
        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.isDungeonWarp'
        )
            span Is Dungeon Warp

    .xl2.l3.m6.s12
        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.skipJoypadCheckWarps'
        )
            span Skip Joypad

    .s12
        h5 Warping

    .xl2.l3.m6.s12
        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.flyOrDungeonWarp'
        )
            span Non-Normal Warp

    .xl2.l3.m6.s12
        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.flyWarp'
        )
            span Special Warp

    .xl2.l3.m6.s12
        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.dungeonWarp'
        )
            span Dungeon Warp

    .row.xl2.l3.m6.s12
        mat-form-field(style="width: 100%")
            mat-label To Warp
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.warpDest'
                required=''
            )
    .xl2.l3.m6.s12
        select-map(
            '[(ngModel)]'='fileService.fileDataExpanded.area.dungeonWarpDestMap'
            label='Dungeon Warp Where'
        )

    .xl2.l3.m6.s12
        select-map(
            '[(ngModel)]'='fileService.fileDataExpanded.area.specialWarpDestMap'
            label='Special Warp Where'
        )

    .row.s12
        h5 Warped

    .row.xl1.l2.m4.s6
        mat-form-field(style="width: 100%")
            mat-label From Warp
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.warpedFromWarp'
                required=''
            )

    .xl2.l3.m6.s12
        mat-form-field(style="width: 100%")
            mat-label From Dungeon Warp
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.whichDungeonWarp'
                required=''
            )

    .xl2.l3.m6.s12
        select-map(
            '[(ngModel)]'='fileService.fileDataExpanded.area.warpedfromMap'
            label='From Map'
        )

    .row.s12
        h5 Warp Points

    .row.s12(*ngFor='let warp of warpPoints; let i = index; trackBy: trackByFn')
        warp-item(
            '[data]'='warpPoints[i]'
            '[disabled]'='false'
            '(remove)'='remListItem(i)'
        )

    .row.s12(*ngIf='warpPoints.length == 0')
        warp-item(
            '[disabled]'='true'
        )

    .row.s12
        button(
            mat-raised-button=''
            '(click)'='addListItem()'
            '[disabled]'='entriesCount >= 32'
            color="primary"
            style="width: 100%;"
        )
            span.im.im-plus3
