mat-sidenav-container.sidenav-container(
    '(backdropClick)'='close()'
)
    mat-sidenav.sidenav(
        '#drawer'='',
        fixedinviewport='true',
        'mode'="over",
        '[opened]'='opened'
        'position'='end'
    )

        span(
            '*ngFor'='let key of ts.search.andNormal.keys'
        )
            button.button-non-uniform(
                mat-button
                '[matTooltip]'="key.eng"
                matTooltipPosition="right"
                matTooltipShowDelay="1000"
                matTooltipHideDelay="0"
                matTooltipClass="tooltip"
                '(click)'='append(key)'
            )
                name-box(
                    '[maxLength]'='100'
                    '[value]'='key.eng'
                )

        hr

        span(
            '*ngFor'='let key of ts.search.notNormal.notControl.notPic.notMulti.notVar.keys'
        )
            button.button-non-uniform(
                mat-button
                '[matTooltip]'="key.eng"
                matTooltipPosition="right"
                matTooltipShowDelay="1000"
                matTooltipHideDelay="0"
                matTooltipClass="tooltip"
                '(click)'='append(key)'
            )
                name-box(
                    '[maxLength]'='100'
                    '[value]'='key.eng'
                )

        hr

        span(
            '*ngFor'='let key of ts.search.notNormal.andPic.keys'
        )
            button.button-non-uniform(
                mat-button
                '[matTooltip]'="key.eng"
                matTooltipPosition="right"
                matTooltipShowDelay="1000"
                matTooltipHideDelay="0"
                matTooltipClass="tooltip"
                '(click)'='append(key)'
            )
                name-box(
                    '[maxLength]'='100'
                    '[value]'='key.eng'
                )

        hr

        span(
            '*ngFor'='let key of ts.search.notNormal.andMulti.keys'
        )
            button.button-non-uniform(
                mat-button
                '[matTooltip]'="key.eng"
                matTooltipPosition="right"
                matTooltipShowDelay="1000"
                matTooltipHideDelay="0"
                matTooltipClass="tooltip"
                '(click)'='append(key)'
            )
                name-box(
                    '[maxLength]'='100'
                    '[value]'='key.eng'
                )

        hr

        span(
            '*ngFor'='let key of ts.search.notNormal.andControl.keys'
        )
            button(
                mat-button
            )
                | {{key.eng}}

    mat-sidenav-content
        ng-content
