mat-card
    mat-card-title Event Pokemon
    mat-card-subtitle Pokemon distributed at special events

mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title Japan
            mat-panel-description Events in Japan

        mat-list
            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='giveGameFreakMew()'

                    matTooltip="Level 5 Mew with max DV's"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; Game Freak Mew

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='giveSpaceWorld99Mew()'

                    matTooltip="Level 5 Mew"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; Nintendo Space World '99 Mew

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='giveStampFearow()'

                    matTooltip="Level 20 Fearow with Payday"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; Pokemon Stamp Fearow

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='giveStampRapidash()'

                    matTooltip="Level 40 Rapidash with Payday"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; Pokemon Stamp Rapidash

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='give98BattleTourPikachu()'

                    matTooltip="Level 5 Surfing Pikachu"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; Summer '98 Pokemon Battle Tour Pikachu

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='giveUniversityMagikarp()'

                    matTooltip="Level 5 Magikarp with Dragon Rage"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; University Magikarp

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='give7thNxtGenWrldHbyMew()'

                    matTooltip="Level 5 Mew"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; 7th Next Generation World Hobby Fair Mew

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='giveCoroCoroFlyingPikachu()'

                    matTooltip="Level 5 Pikachu that knows Fly"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; CoroCoro Flying Pikachu

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='giveCoroCoroSurfingPikachu()'

                    matTooltip="Level 5 Pikachu that knows Surf"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; CoroCoro Surfing Pikachu

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='giveSpaceWorld97Mew()'

                    matTooltip="Level 5 Mew"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; Nintendo Space World '97 Mew

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='giveCoroCoro20thMew()'

                    matTooltip="Level 5 Mew"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; CoroCoro 20th Anniversary Mew

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='giveN64Pikachu()'

                    matTooltip="Level 5 Pikachu that knows Thundershock, Growl, and Surf"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; Nintendo 64 Pikachu

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='give4thNxtGenWrldHbyMew()'

                    matTooltip="Level 5 Mew"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; 4th Next Generation World Hobby Fair Mew

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='giveLgndPkmnMew()'

                    matTooltip="Level 5 Mew"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; Legendary Pokemon Offer 2 Mew

            mat-list-item
                button(
                    mat-raised-button=''
                    '(click)'='giveLgndPkmnMew()'

                    matTooltip="Level 5 Mew"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; Legendary Pokemon Offer 1 Mew
