.row
  .col.s12
    h5 Player Basics

.row
  .input-field.col.s4
    input#player_name(
        placeholder='Name'
        type='text'
        '[(ngModel)]'='fileService.fileDataExpanded.player.playerName'
        '(ngModelChange)'='fileService.fileDataExpanded.player.onNameChange()'
    )

    label(for='player_name') Player Name
    .pr-container.pr-textbox.pr-black('innerHTML'='{{agathaSpeech}}')

  .input-field.col.s6.m2
    input#player_id(
        placeholder='ID'
        type='text'
        '[(ngModel)]'='fileService.fileDataExpanded.player.playerID'
        required=''
        pattern='[0-9a-fA-F][0-9a-fA-F][0-9a-fA-F][0-9a-fA-F]'
        minlength='4'
        maxlength='4'
    )

    label(for='player_id') Player ID

  .input-field.col.s6.m2
    input#money(
        placeholder='Money'
        type='number'
        '[(ngModel)]'='fileService.fileDataExpanded.player.money'
        max='999999'
        min='0'
    )

    label(for='money') Spending Money

  .input-field.col.s6.m2
    input#coins(
        placeholder='Coins'
        type='number'
        '[(ngModel)]'='fileService.fileDataExpanded.player.coins'
        max='9999'
        min='0'
    )

    label(for='coins') Casino Coins

  .input-field.col.s6.m2
    select#playerStarterSelect.browser-default(
        '[(ngModel)]'='fileService.fileDataExpanded.player.playerStarter'
    )

      option([value]="'00'" disabled='') Choose Starter
      option([value]="'B0'") Charmander
      option([value]="'B1'") Squirtle
      option([value]="'99'") Bulbasaur

.row
  .col.s12
    h5 Badges

.row
  .col.s12
    gym-button(gymLeader='Brock' gymBadge='Boulder')
    gym-button(gymLeader='Misty' gymBadge='Cascade')
    gym-button(gymLeader='Lt. Surge' gymBadge='Thunder')
    gym-button(gymLeader='Erika' gymBadge='Rainbow')
    gym-button(gymLeader='Koga' gymBadge='Soul')
    gym-button(gymLeader='Sabrina' gymBadge='Marsh')
    gym-button(gymLeader='Blaine' gymBadge='Volcano')
    gym-button(gymLeader='Giovanni' gymBadge='Earth')
