.container
    select-item(
        '[(ngModel)]'='data.id'
        '[disabled]'='disabled'
    )

    mat-form-field
        mat-label Amount
        input(
            matInput=''
            placeholder='Amount'
            type='number'
            '[(ngModel)]'='data.amount'
            max='99'
            min='1'
            '[disabled]'='disabled'
        )

    button(
        mat-raised-button=''
        '(click)'='remListItem()'
        '[disabled]'='disabled'
        color="accent"
    )
        span.im.im-delete
