.container.wrapper
    .s12
        h5 Rods

    .xl2.l3.m6.s12
        mat-checkbox(
            style="width: 100%"
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.obtainedOldRod'
        )
            span Obtained Old Rod

    .xl2.l3.m6.s12
        mat-checkbox(
            style="width: 100%"
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.obtainedGoodRod'
        )
            span Obtained Good Rod

    .xl2.l3.m6.s12
        mat-checkbox(
            style="width: 100%"
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.obtainedSuperRod'
        )
            span Obtained Super Rod

    .s12
        h5 Pokemon

    .xl2.l3.m6.s12
        mat-checkbox(
            style="width: 100%"
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.obtainedLapras'
        )
            span Obtained Lapras

    .xl2.l3.m6.s12
        mat-checkbox(
            style="width: 100%"
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.obtainedStarterPokemon'
        )
            span Obtained Starter

    .xl2.l3.m6.s12
        mat-checkbox(
            style="width: 100%"
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.everHealedPokemon'
        )
            span Ever Healed Pokemon

    .s12
        h5 Other

    .xl3.l4.m8.s12
        mat-checkbox(
            style="width: 100%"
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.satisfiedSaffronGuards'
        )
            span Satisfied Saffron Guards

    .xl2.l3.m6.s12
        mat-checkbox(
            style="width: 100%"
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.defeatedLorelei'
        )
            span Defeated Lorelei
