mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title Direction
            mat-panel-description Player Direction

        select-player-direction(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.playerMoveDir'
            label='Moving'
        )

        select-player-direction(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.playerLastStopDir'
            label='Last Stop'
        )

        select-player-direction(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.playerCurDir'
            label='Current'
        )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Coordinates
            mat-panel-description Player Coordinates

        mat-form-field
            mat-label X
            input(
                matInput
                type='number'
                placeholder='X'
                '[(ngModel)]'='fileService.fileDataExpanded.area.player.xCoord'
            )

        mat-form-field
            mat-label Y
            input(
                matInput
                type='number'
                placeholder='Y'
                '[(ngModel)]'='fileService.fileDataExpanded.area.player.yCoord'
            )

        mat-form-field
            mat-label X Blocks
            input(
                matInput
                type='number'
                placeholder='X Blocks'
                '[(ngModel)]'='fileService.fileDataExpanded.area.player.xBlockCoord'
            )

        mat-form-field
            mat-label Y Blocks
            input(
                matInput
                type='number'
                placeholder='Y Blocks'
                '[(ngModel)]'='fileService.fileDataExpanded.area.player.yBlockCoord'
            )

        mat-form-field
            mat-label Jumping Y
            input(
                matInput
                type='number'
                placeholder='Jumping Y'
                '[(ngModel)]'='fileService.fileDataExpanded.area.player.playerJumpingYScrnCoords'
            )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title HM's
            mat-panel-description HM Usage

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.strengthOutsideBattle'
        )
            span Using Strength

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.flyOutofBattle'
        )
            span Using Fly

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.surfingAllowed'
        )
            span Surfing Allowed

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Battle
            mat-panel-description Battle State

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.isBattle'
        )
            span Battle Ongoing

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.isTrainerBattle'
        )
            span Trainer Battle

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.noBattles'
        )
            span Prevent Battles

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.battleEndedOrBlackout'
        )
            span Battle Ended

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Warps
            mat-panel-description Warp State

        mat-form-field
            mat-label Y Offset Last Special Warp
            input(
                matInput
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.player.yOffsetSinceLastSpecialWarp'
            )

        mat-form-field
            mat-label X Offset Last Special Warp
            input(
                matInput
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.player.xOffsetSinceLastSpecialWarp'
            )

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.standingOnDoor'
        )
            span Standing on Door

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.movingThroughDoor'
        )
            span Moving through Door

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.standingOnWarp'
        )
            span Standing on Warp

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Other
            mat-panel-description Misc &amp; Uncategorized

        mat-form-field
            mat-label Walk/Bike/Surf
            mat-select(
                '[(ngModel)]'='fileService.fileDataExpanded.area.player.walkBikeSurf'
            )
                mat-option('[value]'="0") Walking
                mat-option('[value]'="1") Biking
                mat-option('[value]'="2") Surfing

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.finalLedgeJumping'
        )
            span End Ledge Jump

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.spinPlayer'
        )
            span Spin Player

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.usedCardKey'
        )
            span Used Card Key

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.player.usingLinkCable'
        )
            span Using Link Cable
