mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title Current Map
            mat-panel-description Map currently in

        select-map-full(
            '[(ngModel)]'='fileService.fileDataExpanded.area.maps.curMap'
            label='Current Map'
        )

        mat-form-field
            mat-label Current Script
            input(
                matInput
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.maps.curMapScript'
            )

        mat-form-field
            mat-label UL Corner of Cur View in Tile Blocks
            input(
                matInput
                type='text'
                '[(ngModel)]'='fileService.fileDataExpanded.area.maps.currentTileBlockMapViewPointer'
            )

        mat-form-field
            mat-label UL Corner Visible BG Tilemap in VRAM
            input(
                matInput
                type='text'
                '[(ngModel)]'='fileService.fileDataExpanded.area.maps.mapViewVRAMPointer'
            )

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.maps.curMapNextFrame'
        )
            span Run Current Map Script Instead

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title
                span.im.im-checkmark3(*ngIf='isNorth.checked')
                span &nbsp; North Map
            mat-panel-description Connecting North Map

        mat-checkbox(
            #isNorth=''
            '[(ngModel)]'='fileService.fileDataExpanded.area.maps.mapConn.north'
        )
            span Enable North Map

        br

        connection-item(
            '[data]'='fileService.fileDataExpanded.area.maps.mapConnData.north'
            '[disabled]'='!isNorth.checked'
        )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title
                span.im.im-checkmark3(*ngIf='isEast.checked')
                span &nbsp; East Map
            mat-panel-description Connecting East Map

        mat-checkbox(
            #isEast=''
            '[(ngModel)]'='fileService.fileDataExpanded.area.maps.mapConn.east'
        )
            span East

        br

        connection-item(
            '[data]'='fileService.fileDataExpanded.area.maps.mapConnData.east'
            '[disabled]'='!isEast.checked'
        )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title
                span.im.im-checkmark3(*ngIf='isSouth.checked')
                span &nbsp; South Map
            mat-panel-description Connecting South Map

        mat-checkbox(
            #isSouth=''
            '[(ngModel)]'='fileService.fileDataExpanded.area.maps.mapConn.south'
        )
            span South

        br

        connection-item(
            '[data]'='fileService.fileDataExpanded.area.maps.mapConnData.south'
            '[disabled]'='!isSouth.checked'
        )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title
                span.im.im-checkmark3(*ngIf='isWest.checked')
                span &nbsp; West Map
            mat-panel-description Connecting West Map

        mat-checkbox(
            #isWest=''
            '[(ngModel)]'='fileService.fileDataExpanded.area.maps.mapConn.west'
        )
            span West

        br

        connection-item(
            '[data]'='fileService.fileDataExpanded.area.maps.mapConnData.west'
            '[disabled]'='!isWest.checked'
        )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Other
            mat-panel-description Misc &amp; Uncategorized

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.maps.forceBikeRide'
        )
            span Force Bike Ride

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.maps.blackoutDest'
        )
            span To Blackout Dest

        mat-form-field
            mat-label Card Key Door X
            input(
                matInput
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.maps.cardKeyDoorX'
            )

        mat-form-field
            mat-label Card Key Door Y
            input(
                matInput
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.area.maps.cardKeyDoorY'
            )
